/* --------------
common shared style
----------------- */
body{
    font-family: 'Aoboshi One', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

}
.primary-button{
    border-radius:5px ;
    background-color: #fd6e0a;
border: 0;
color: var(--white-color, #FFF);
font-size: 20px;
font-weight: 700;
padding: 18px 35px;

}


/* -------------
nav ralated styles
----------------- */
.primary-color{
    color: rgba(253, 110, 10, 1);
}
nav{
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;

}
nav > ul{ 
    display: flex;
    align-items: center;

}
nav li >a{
    margin: 60px;
    text-decoration: none;
    color: #474747;
}
/* ------------------
header-related-style
------------------ */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:bottom right, top left;
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 530px;
height: 500px;
display: flex;
padding-bottom: 0px;

}
.banner-content{

max-width: 500px;

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom:  0px;

}
.banner-title{
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    margin-top: 4px;
    font-weight: 700;
}
.para{
    margin-bottom: 0px;
}
.primary-button{
  margin-top: 66px;
}

/* -----------------
main-section-styles
------------------- */
main{
    /* max-width: 1140px; */
    margin:0 auto;
    background-color: #FFF8F3;
}
/* -------------------
about-section-styles
---------------------- */

.about{
    
    padding: 120px;
    border-radius: 10px;
background-color: #FFF8F3;
margin: 130px 0px;

.section-title{
    color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



}
.section-description{
    margin: 0 auto;
    width: 909px;
    color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
align-items: center;
}
.about-info-container{
   
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.about-inf{
    text-align: center;
}
.section-title{
    text-align: center;
    color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#what-i-do-description{
    padding:30px  150px;
}

/* -----------
sills-container-start
----------------- */

.skills-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 800px;
    width: 100%;
}
.skill{
    height: 370px;
    width: 200px;
    line-height: 30px;
    word-spacing: 5px;
    

}
.skill:hover{
    box-shadow: 0px 10px 8px 0px black;
}
.skill-title{
    text-align: center;
}
.skills-container .image{
    padding-top: 50px;
    padding-left: 60px;
    box-sizing: border-box;
}
h2{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;

font-weight: 700;

}

/* ---------------
resume-section start
------------------- */
.title1{
    color: #474747;
font-family: Open Sans;
font-size: 30px;

font-weight: 700;

}

.title2{
    color: #474747;
font-family: Open Sans;
font-size: 25px;

font-weight: 700;

}
.title3{
    color:  #757575;
font-family: Open Sans;
font-size: 20px;

font-weight: 600;

}
.expe1{
    color:  #474747;
font-family: Open Sans;
font-size: 30px;

font-weight: 700;

}
.expe2{
    color:  #474747;
    font-family: Open Sans;
    font-size: 25px;
    
    font-weight: 700;
    
}

.expe3{
    color:  #757575;
    font-family: Open Sans;
    font-size: 20px;
   
    font-weight: 600;
    
     
}

.expe4{
    color: , #757575;
    font-family: Open Sans;
    font-size: 16px;
    
    font-weight: 400;
}

.edu-expe{
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.education{
    height: 350px;
    width: 300px;
    margin: 30px;
}
.experience{
    height: 350px;
    width: 300px;
    margin: 30px;
    margin-left: 80px;
    margin-top: 110px;
    
}
hr{
    margin: 100px;
    margin-bottom: 100px;
}
.clear-div{
    clear: both;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style */
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top:100px;
}
.footer-column{
    width: 50%;
}
.contact input, textarea{
    display: block;
    margin-bottom: 50px;
    padding: 18px 35px;
    font-size: 16px;
    color: #757575;
    border-radius: 5px;
    /* background-color: #FFF; */
    border: 0px;
}
.contact{
    margin-left: 100px;
}
.social-links a{
    margin-left: 50px;
margin-bottom: 50px;
padding: 20px;
}
.input{
    width: 461px;
height: 64px;
font-size: 30px;
}
.text-a{
    width: 461px;
height: 180px;
font-size: 30px;
}
.sub-m{
    width: 150px;
height: 64px;
border-radius: 5px;
background-color : #FD6E0A;
color:  white;
text-align: center;
font-family: Open Sans;
font-size: 20px;

font-weight: 700;
}
