/* --------------
common shared style
----------------- */
body{
    font-family: 'Aoboshi One', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

}
.primary-button{
    border-radius:5px ;
    background-color: #fd6e0a;
border: 0;
color: var(--white-color, #FFF);
font-size: 20px;
font-weight: 700;
padding: 18px 35px;

}


/* -------------
nav ralated styles
----------------- */
.primary-color{
    color: rgba(253, 110, 10, 1);
}
nav{
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;

}
nav > ul{ 
    display: flex;
    align-items: center;

}
nav li >a{
    margin: 60px;
    text-decoration: none;
    color: #474747;
}
/* ------------------
header-related-style
------------------ */
.header{
    background-color: #FFF8F3;
    
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 530px;
height: 500px;
}
.banner-content{
    justify-content: center;
}